<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="firstname">Prénoms</label>
            <input type="text" class="form-control" id="firstname" formControlName="firstname">
        </div>
        <div class="form-group">
            <label for="lastName">Nom</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="email">Adresse Mail</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="firstname">Prénoms</label>
            <select id="drinkPreference" class="form-control" formControlName="drinkPreference">
                <option value="Coca">Coca</option>
                <option value="Pepsi">Pepsi</option>
            </select>
        </div>
        <div formArrayName="hobbies" >
            <h3>Vos hobbies</h3>
            <div class="form-group" *ngFor="let hobbyControl of getHobbies().controls; let i =index">
                <input type="text" class="form-control" [formControlName]="i">
            </div>
            <button type="button" class="btn btn-success" (click)="onAddHobby()">Ajouter un hobby</button>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Soumettre</button>
    </form>
</div>