<li [ngClass]="{'list-group-item': true,
              'list-group-item-success':AppareilStatus==='allumé',
              'list-group-item-danger':AppareilStatus==='éteint'}">
<h4 [ngStyle]="{color:getColor()}"> Appareil : {{AppareilName}} -- Statut : {{getStatus()}}</h4>
<a [routerLink]="[id]">Détail</a>
  <button class="btn btn-success"
          (click)="onSwitchOn()"
          [disabled]="AppareilStatus==='allumé'">Allumer
  </button>
  <button class="btn btn-danger"
          (click)="onSwitchOff()"
          [disabled]="AppareilStatus==='éteint'">Eteindre
  </button>
</li>
