<h2>Authentification</h2>
<button class="btn btn-success" *ngIf="!authStatus" (click)="OnSignIn()">
Se connecter
</button>
<button class="btn btn-danger" *ngIf="authStatus" (click)="OnsignOut()">
Se Déconnecter
</button>