<div class="col-xs-12">
  <h2>Mes appareils</h2>
  <p> Mis à jour : {{lastUpdate | date: 'dd/MM/yyyy' }}</p>
  <ul>
    <app-appareil *ngFor="let appareil of appareils; let i = index "
                  [IndexOfAppareil]="i"
                  [AppareilName]="appareil.name"
                  [AppareilStatus]="appareil.status"
                  [id]="appareil.id"></app-appareil>
  </ul>
  <button class="btn btn-success"
          (click)="onAllumer()">Tout allumer
  </button>
  <button class="btn btn-danger"
          (click)="onEteindre()">Tout éteindre
  </button>
  <button class="btn btn-primary" (click)="onSave()">Enregistrer</button>
  <button class="btn btn-primary" (click)="onFetch()">Charger</button>
</div>
